$color-primary: #f56565;

$color-grey-low: #f2f2f2;
$color-grey-medium: #c9c9c9;
$color-grey-dark: #f56565;

$color-white: #fff;
$color-black: #1a1a1a;

$color-secondary: #684be2;
$color-tertiary: #ef4c5b;
