h1,
h2,
h3,
h4 {
  color: $color-white;
  font-family: $font-headings;
}
h1 {
  font-size: 3rem;
  line-height: 1rem;
  letter-spacing: 2px;
  margin-bottom: $margin-m;

  @media screen and (min-width: 40rem) {
    font-size: 8rem;
    line-height: 4.5rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: $margin-m;
  text-align: left;

  @media screen and (min-width: 40rem) {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h3 {
  font-size: 1.6rem;
  margin-bottom: $margin-s;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: $margin-s;
}

p {
  font-size: 1.1rem;
  color: $color-white;
  font-family: $font-body;
  line-height: 1.5;
  margin-bottom: $margin-m;
  letter-spacing: 0.8px;
}

a {
  transition: color 0.2s;
  &:hover {
    color: $color-primary;
  }
}

.bold {
  font-weight: bold;
}
